<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

        <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

        <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/Theme.RegistroEventosEthel"
            tools:targetApi="31">

                <!-- Lista de actividades -->
                <activity android:name=".EditarServicioEvento" android:exported="false" />
                <activity android:name=".EditarServicioProv" android:exported="false" />
                <activity android:name=".ListaServicioProv" android:exported="false" />
                <activity android:name=".ServicioEvento" android:exported="false" />
                <activity android:name=".AgregarServicio" android:exported="false" />
                <activity android:name=".CalendarioFiltrado3" android:exported="false" />
                <activity android:name=".CalendarioFiltradoFecha" android:exported="false" />
                <activity android:name=".EditarEvento" android:exported="false" />
                <activity android:name=".ListaEventos" android:exported="false" />
                <activity android:name=".RegistroEvento" android:exported="false" />
                <activity android:name=".RegistroProveedor2" android:exported="false" />
                <activity android:name=".CalendarioFiltradoCliente" android:exported="false" />
                <activity android:name=".Calendario" android:exported="false" />
                <activity android:name=".EditarProveedores" android:exported="false" />
                <activity android:name=".ListaProveedores" android:exported="false" />
                <activity android:name=".Usuario" android:exported="false" />
                <activity android:name=".SqliteHelper" android:exported="false" />
                <activity android:name=".Proveedor" android:exported="false" />
                <activity android:name=".RegistrarUsuario" android:exported="false" />
                <activity android:name=".PantallaPrincipal" android:exported="false" />
                <activity android:name=".IniciarSesion" android:exported="false" />
                <activity android:name=".ISAdmin" android:exported="false" />
                <activity android:name=".PPAdmin" android:exported="false" />
                <activity android:name=".AdminDashboard" android:exported="false" />
                <activity android:name=".RecuperarContrasena" android:exported="false" />
                <activity android:name=".ListaAuditoria" android:exported="false" />
                <receiver android:name=".RevisorEventosReceiver" android:exported="false"/>
                <activity android:name=".VerificarCodigo" />
                <activity android:name=".NuevaContrasena" />
                <activity android:name=".BienvenidaActivity" />

                <activity android:name=".MainActivity" />
                <activity
                    android:name=".TipoUsuario"
                    android:exported="true">
                        <intent-filter>
                                <action android:name="android.intent.action.MAIN" />
                                <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
                </activity>

                <meta-data
                    android:name="preloaded_fonts"
                    android:resource="@array/preloaded_fonts" />
        </application>

</manifest>
